# Auto detect text files and perform LF normalization
* text=auto

# Specify language for specific files
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.gitignore text eol=lf
*.gitattributes text eol=lf
*.editorconfig text eol=lf

# Treat images as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
